#! .env.example

# ============================
# Application environment
# ============================

NODE_ENV=development

# ============================
# Server configuration
# ============================

HOST=localhost
PORT=3000
SITE_URL=http://localhost:3000
SITE_URLS=https://your-domain.com,https://www.your-domain.com


# ============================
# Database
# ============================

DB_HOST=localhost
DB_USER=database_user
DB_PASSWORD=user_password
DB_NAME=database_name
DB_PORT=3306

# ============================
# SENTRY
# ============================

SENTRY_DSN=https://{DSN}.ingest.us.sentry.io/{PROJECT_ID}
SENTRY_TRACES_SAMPLE_RATE=1.0

# ============================
# Security
# ============================

# Used for sessions, cookies, and encryption
# Generate a long, random string for production
SESSION_SECRET=this-should-be-a-very-long-string-please-change-me


# ============================
# Google OAuth
# ============================

GOOGLE_CLIENT_ID=a-unique-public-identifier-for-your-application-used-to-access-Google-APIs-and-enable-Sign in-with-Google
GOOGLE_CLIENT_SECRET=confidential-string-of-characters-generated-by-the-Google-Cloud-Console-when-setting-up-an-OAuth-2.0-Client-ID


# ============================
# GitHub OAuth
# ============================

GITHUB_CLIENT_ID=a-unique-public-identifier-for-your-application-used-to-access-GitHub-APIs-and-enable-Sign in-with-GitHub
GITHUB_CLIENT_SECRET=confidential-string-of-characters-generated-by-the-GitHub-when-setting-up-an-OAuth-Client-ID


# ============================
# Email
# ============================

EMAIL_SERVICE=email-provider
EMAIL_USER=email-username
EMAIL_PASSWORD=email-password-or-app-password
