PORT=3000
HOST=http://localhost
NODE_ENV=production_or_develoment
SENTRY_DSN=your_sentry_dsn
SENTRY_PROJECT_ID=your_sentry_project_id
SESSION_SECRET=change_this_to_a_secure_random_string
DB_HOST=localhost
DB_PORT=3305,
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=your_database_name
EMAIL_SERVICE=gmail_or_other_services
EMAIL_USER=example@email.com
EMAIL_PASS=your_account_app_password
