<!-- views/layouts/_company_name.ejs -->
<span class="brand" aria-label="Dakermanji Web Development">
<span class="orange">D</span>akermanji <span class="orange">{</span>Web Dev<span
	class="orange"
	>}</span
></span>
