<!-- views/layouts/_navNotUser.ejs -->
<li class="nav-item">
	<a
		href="#"
		class="nav-link"
		data-bs-toggle="modal"
		data-bs-target="#authModal"
	>
		<i
			data-bs-toggle="tooltip"
			title="<%= t('auth:login') %> / <%= t('auth:register') %>"
			class="bi bi-box-arrow-in-right"
		></i>
		<span class="nav-text"
			><%= t('auth:login') %> / <%= t('auth:register') %></span
		>
	</a>
</li>
