<div class="background-overlay"></div>
<section class="hero-section">
	<div class="hero-content">
		<small class="role"><%- __('home.hero.role') %></small>
		<h1
			><%- __('home.hero.intro') %>
			<img
				src="/images/index/canada-flag.png"
				alt="<%= __('home.hero.canada_flag') %>"
				class="flag-icon"
				loading="lazy"
		/></h1>
	</div>
</section>
