/*! public/css/index/about.css */

#about {
    padding: 5rem 0;
    margin: 0 clamp(1rem, 4vw, 4rem);
}

#about p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 20px 0;
}

#about .row {
    justify-content: center;
}

.about-col-1 {
    margin-top: 15px;
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

.about-col-1 img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    max-width: 100%;
    object-fit: cover;
}

.about-col-2 {
    margin-top: 15px;
    flex-basis: 68%;
}

.tab-titles {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}


.tab-links {
    display: inline-block;
    margin: 0 20px;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0 20px 5px;
    position: relative;
    color: #333;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--color-primary);
    position: absolute;
    left: 10%;
    bottom: -7px;
    transition: width 0.4s ease;
}

.tab-links.active {
    color: var(--color-primary);
}

.tab-links.active::after {
    width: 80%;
}

.tab-contents li {
    list-style: none;
    font-size: 1.25rem;
    margin: 10px 0;
}

.tab-contents li span {
    color: #597eb4;
    font-size: 1.1rem;
    font-weight: bold;
}

.tab-contents address {
    font-size: 1rem;
    color: #555;
    font-style: italic;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.about-background {
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
    background: rgba(210, 204, 249, 0.67);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
}


@media (max-width: 768px) {
    main>.background-overlay {
        display: none;
    }

    .role {
        color: black;
    }

    .about-background {
        text-align: center;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 img {
        width: 300px;
        margin-bottom: 20px;
    }

    .tab-titles {
        justify-content: center;
    }
}

@media (max-width: 480px) {

    #about {
        margin: 0;
    }

}
