/*! public/css/home/hero.css */

main.container {
    margin: 0;
    padding: 0;
}

.hero-section {
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 10vw;
    padding-left: 5%;
    display: flex;
    align-items: center;
}

.hero-content {
    max-width: 40%;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.role {
    font-size: 1rem;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-dark);
    margin-top: 0.5rem;
    line-height: 1.5;
}

.flag-icon {
    width: auto;
    height: 2.5rem;
    vertical-align: middle;
    margin-left: 5px;
    border-radius: 5px;
}
