/*! public/css/home/main.css */

main {
    background: url('/images/index/background-image.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

section {
    position: relative;
    z-index: 2;
    /* z-index: 3; */
}

main>.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 10% 50%, rgba(0,
                0,
                0,
                0.0) 0%, rgba(100,
                100,
                255,
                0.4) 50%);

    z-index: 1;
    pointer-events: none;
    transition: background-position var(--transition-duration) ease, background var(--transition-duration) ease;
}
